# Hadoop NameNode WebHDFS地址
HDFS_URL=http://master:9870

# 访问HDFS使用的用户
HDFS_USER=hadoop

# 项目在HDFS中的根目录
HDFS_BASE=/user/hadoop/week02

# Hadoop DataNode Web端口
DATANODE_WEB_PORT=9864

# Hadoop工作节点
HADOOP_WORKERS="slave1 slave2"

# HBase Thrift地址
HBASE_HOST=192.168.88.151
HBASE_PORT=9090

# HBase表和列族
HBASE_TABLE=week02_user_stat
HBASE_FAMILY=cf
